.env
*node_modules
/dist
/build
/.cache
/.next
/.nuxt
/.nuxt/dist
backend/dist
frontend/dist
node_modules
backend/logs
backend/coverage

# Generated JS files from TypeScript
shared/**/*.js
shared/**/*.js.map